
 <div class="maindiv">
                <div class="md-nav">
                    <!-- <div class="nav-logo-titile m-left">
                        <div class="lt-left">IN</div>
                        <div class="lt-top">TELLICAR</div>
                        <div class="lt-bottom">60SECS</div>
                    </div>
                    <div class="nav-logo m-left">
                        <div class="spinner-1"></div>
                        <div class="spinner-2"></div>
                        <div class="spinner-3"></div>
                    </div>
                    <div class="md-log-box m-left">
                        <Link  class="nav-log " to="dashboard" activeclass="active"><FaDesktop /></Link>
                    </div>
                    <div class="md-log-box">
                        <Link class="nav-log " to="features" activeclass="active"><Fabar /></Link>
                    </div>
                    <div class="md-log-box">
                        <Link class="nav-log " to="features" activeclass="active"><Fasettings /></Link>
                    </div> -->
                </div>
</div>

<div class="wrapper" ng-controller="MainCtrl as vm">



                <div class="wid box11">
                    <div class="wid-cont-box ">
                        <div class="wid-tb">CARS TRACKED<span class="wid-des"></span></div>
                        <div class="wid-tb-cont">{{vm.cardata}}<span id="wid-cont-span">cars/hr</span></div>
                        <div class=""></div>
                    </div>
                </div>

                <div class="wid box12" >
                    <div class="wid-tb title-bar" >STATISTICS
                        <span class="wid-des">- Fuel Consumed per day</span>
                    </div>

                </div>
                <div class="wid box13" >
                    <div class="wid-cont-box">
                        <div class="wid-tb">CARS IMMOBILIZED<span class="wid-des"></span></div>
                        <div class="wid-tb-cont"><span id="wid-cont-span">Cars/hr</span></div>
                    </div>
                </div>
                <div class="wid box14" >
                    <div class="wid-tb">DATA TRANSFER RATE</div>
                    <div class="wid-cont-box">
                        <div class="wid-tb-cont"><span id="wid-cont-span">GB/sec</span></div>
                        <div class="wid-bar"><div class="wid-bar-fill" style={height:70 + "vh"}></div></div>
                    </div>
                </div>
                <div class="wid box15">
                    <div class="wid-tb">BEACONS SEND</div>
                    <div class="wid-cont-box">
                        <div class="wid-tb-cont"><span id="wid-cont-span">becons/sec</span></div>
                    </div>
                </div>

                <div class="wid box21" >
                    <div class="wid-tb">FUEL CONSUMED</div>
                    <div class="wid-cont-box">
                        <div class="wid-tb-cont"><span id="wid-cont-span">Lit</span></div>
                    </div>
                </div>
                <div class="wid box22" >
                    <div class="wid-tb">BEACONS SEND</div>
                    <div class="wid-cont-box">
                        <div class="wid-tb-cont"><span id="wid-cont-span">bec/sec</span></div>
                    </div>
                </div>

                <div class="wid box23 banner" >
                    <div class="ban-cont">
                      <img class="comb" src="../images/comb.png" />
                      <img class="logo" src="../images/stroketxt.png" />
                      <img class="ban-cont-stroke lrotating arc2" src="../images/arc2.png" />
                      <img class="ban-cont-stroke rrotating arc2" src="../images/arc1.png" />
                      <img class="ban-cont-stroke l2rotating arc3" src="../images/arc3.png" />
                    </div>
                </div>

                <div class="wid box24" >
                    <div class="wid-tb">MILES COVERED</div>
                    <div class="wid-cont-box">
                        <div class="wid-tb-cont"><span id="wid-cont-span">Miles/sec</span></div>
                    </div>
                </div>
                <div class="wid box25" >
                    <div class="wid-tb">DATARATE</div>
                    <div class="wid-cont-box">
                        <div class="wid-tb-cont"><span id="wid-cont-span">GB/sec</span></div>
                    </div>
                </div>

                <div class="wid box31" >
                    <div class="wid-tb">REQUESTS</div>
                    <div class="wid-cont-box">
                        <div class="wid-tb-cont"><span id="wid-cont-span">Requests/sec</span></div>
                    </div>
                </div>
                <div class="wid box32" >
                    <div class="wid-tb" >FUEL CONSUMED</div>
                    <div class="wid-cont-box">
                        <div class="wid-tb-cont"><span id="wid-cont-span">Lit</span></div>
                    </div>
                </div>
                <div class="wid box33" >
                    <div class="wid-tb">CARS TRACKED</div>
                    <div class="wid-cont-box">
                        <div class="wid-tb-cont"><span id="wid-cont-span">Cars/sec</span></div>
                    </div>
                </div>
                <div class="wid box34" >
                    <div class="wid-tb" >STATISTICS</div>
                    <div class="wid-cont-box">
                        <div class="wid-tb-cont"><span id="wid-cont-span">stats</span></div>
                    </div>
                </div>

                <div class="wid box41"></div>
                <div class="wid box42"></div>
                <div class="wid box43"></div>
                <div class="wid box44"></div>
                <div class="wid box45"></div>

            </div>
